DB_NAME=personalia
DB_USER=postgres
DB_PASSWORD=asd
DB_EXTERNAL_PORT=5432

REDIS_EXTERNAL_PORT=6379
REDIS_PASSWORD=

BACKEND_NODE_ENV=production

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_JWT_KEY=

VITE_API_URL=http://localhost:3002
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bWlnaHR5LW9yaW9sZS00Ni5jbGVyay5hY2NvdW50cy5kZXYk
VITE_CLERK_SIGN_IN_URL=https://staging-new-sas.bpkpenaburjakarta.or.id/
VITE_CLERK_DOMAIN=http://localhost:5174
VITE_CLERK_IS_SATELLITE=true
